* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #292929;
}

/* start game overlay */
.interface {
  background-color: #292929;
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-bottom: 100px;
  z-index: 3;
}

.players {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.player h1 {
  font-size: 3.2rem;
}

.select-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.player .is-player {
  font-size: 2rem;
}

.player select {
  width: 100px;
  height: 20px;
  margin-top: 5px;
}

.choose-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 30px;
}

.sign2,
.sign2 > input,
.sign2 > label {
  cursor: not-allowed;
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  font-size: 0.8rem;
  color: white;
  padding: 5px 0;
  text-align: center;
  z-index: 4;
}

.disabled-sign:hover .tooltip-text {
  visibility: visible;
}

#start-game {
  font-size: 2rem;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

#start-game:hover {
  background-color: #797979;
  color: white
}

/* the main game screen */
.container {
  background-color: transparent;
  min-height: 100vh;
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 200px 1fr;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 5rem;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
  width: max-content;
  justify-self: center;
}

.game-board {
  margin-top: 30px;
  height: 450px;
  width: 550px;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  border: 1px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

.x::before,
.x::after {
  content: '';
  width: 15px;
  height: 120px;
  background-color: white;
  position: absolute;
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  transform: rotate(-45deg);
}

.o::before {
  content: '';
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 10px solid white;
}

.players-info {
  display: flex;
  justify-self: center;
  margin-bottom: 150px;
  gap: 50px;
}

#game-result {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#game-result h1 {
  color: white;
}

#game-result button {
  width: 180px;
  height: 60px;
  font-size: 2.2rem;
  cursor: pointer;
}